@tailwind base;
@tailwind components;
@tailwind utilities;

.primary-bg-color {
  background-color: #a7e6ff;
}
.secondary-bg-color {
  background-color: #e3f7ff;
}

.font-color {
  color: #5d7dbd;
}

h3 {
  font-size: 30px;
}
